NutriFit/.DS_Store
NutriFit.xcodeproj/project.xcworkspace/xcuserdata/maxencewalter.xcuserdatad/UserInterfaceState.xcuserstate
NutriFit/ToDo.txt
.DS_Store
NutriFit/Assets.xcassets/.DS_Store
NutriFit/Views/.DS_Store
